body{
    font-family: "Roboto", sans-serif;
    background-color: darkgrey;
}
h1{
    text-align: center;
}
#moneda {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
#resultados {
    padding-top: 10px;
}
#buscar {
    margin-top: 10px;
}
#container{
    background-color: rgb(84, 102, 102);
    padding: 25px;
    color: white;
}
#grafico {
    margin-top: 10px;
}
#conGraf {
    width: 700px;
    height: 800px;
}